.player-details {
    font-size: 1.3rem;
    display: flex;
    position: relative;
    flex-direction: column;
    height: 400px;
    width: 600px;
    min-width: 250px;
    padding: 1.5rem;
    border-radius: 16px;
    background-color: #100a2b;
    box-shadow: -1rem 0 3rem #000;
    transition: .2s;
}

.player-title {
    display: flex;
    height: 6rem;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    background: linear-gradient(90deg,#421964,#130c35);
}

.title-text {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    align-items: center;
    color: #fff;
}

.player-information-container {
    display: flex;
    margin: 3rem 0;
    width: 500px;
    min-width: 250px;
}

.player-information-container img {
    width: 40px;
    height: 40px;
}

.player-information {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.player-information-text {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    padding: 1rem;
    background: #0d0715;
    width: 55rem;
}

.badge {
    position: relative;
    width: 4em;
    height: 6.2em;
    border-radius: 10px;
    display: inline-block;
    right: 3rem;
    top: 0rem;
    transition: all 0.2s ease;
}

.badge:before,
.badge:after {
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background: inherit;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.badge:before {
    transform: rotate(60deg);
}

.badge:after {
    transform: rotate(-60deg);
}
.badge .circle {
    /* width: 60px;
    height: 60px;
    position: absolute;
    background: #fff;
    border-radius: 50%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    margin: auto; */
    z-index: 10;
    width: 50px;
    height: 50px;
    position: absolute;
    color: white;
}
.badge .circle span{
    font-size: 2em;
    margin-top: 8px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.purple {
    background: linear-gradient(to bottom right, #ab47bc 0%, #4527a0 100%);
    color: #7127a8;
}
  .badge.blured {
    -webkit-filter: blur(3px);
}
@media (max-width: 1210px) {
    .player-details {
        max-width: 70rem;
        width: 90%;
    }
}
@media (max-width: 720px) {
    .player-details {
        height: 50rem;
        margin-bottom: 2rem;
    }
    .player-information {
        width: 90%;
    }
    .player-information-text{
        flex-direction: column;
        width: 100%;
    }
}
@media (max-width: 600px) {
    .player-information-container {
        width: 400px;
    }
    .player-information {
        width: 90%;
    }
    .player-information-text{
        flex-direction: column;
        width: 100%;
    }
}
@media (max-width: 500px) {
    .player-information-container {
        width: 400px;
    }
    .player-information {
        width: 70%;
    }
    .player-information-text{
        flex-direction: column;
        width: 100%;
    }
}
@media (max-width: 450px) {
    .title-text {
        font-size: 1.6rem;
    }
    .badge .circle span {
        font-size: 1.7em;
    }
}
@media (max-width: 400px) {
    .player-information-container {
        width: 350px;
    }
}
@media (max-width: 375px) {
    .player-information-container {
        width: 320px;
    }
}