
.player-playtime-details {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 430px;
    width: 500px;
    min-width: 250px;
    padding: 1.5rem;
    border-radius: 16px;
    background-color: #100a2b;
    box-shadow: -1rem 0 3rem #000;
    transition: .2s;
    font-size: 1.3rem;
}

.game-name-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-between; */
}

.game-name {
    margin-left: 2rem;
    font-size: 1.5rem;
    font-weight: 600;
}

.recently-games {
    padding: 1rem;
    margin: 1rem 0;
    background: #0d0715;
}

.recently-games img{
    width: 200px;
}


