
.player-playtime-details {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 430px;
    width: 500px;
    min-width: 250px;
    padding: 1.5rem;
    border-radius: 16px;
    background-color: #100a2b;
    box-shadow: -1rem 0 3rem #000;
    transition: .2s;
    font-size: 1.3rem;
}

.last-activity {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background: linear-gradient(90deg,#421964,#130c35);
}

.game-name-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-between; */
}

.game-name {
    margin-left: 2rem;
    font-size: 1.5rem;
    font-weight: 600;
}

.recently-games {
    padding: 1rem;
    margin: 1rem 0;
    background: #0d0715;
}

.recently-games img{
    width: 200px;
}

.activity {
    margin: 1rem 0;
}

.activity span {
    color: #7a7a8c;
    margin: 0 0.4rem 0 0;
    font-weight: 600;
}

.other-activity {
    padding: 1rem;
}

.other-activity-game-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1rem 0;
    justify-content: space-around;
}

.other-activity-game-container:nth-child(1) {
    border-bottom: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(90deg,#421964,#130c35);
}
.other-activity-game-logo img{
    width: 32px;
    height: 32px;
}
.other-activity-name {
    /* margin-left: 2rem; */
    font-weight: 600;
}