.card {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 350px;
    width: 400px;
    min-width: 260px;
    padding: 1.5rem;
    border-radius: 16px;
    background: linear-gradient(90deg,#421964,#130c35);
    box-shadow: -1rem 0 3rem #000;
    transition: .2s;
}

.card-title {
    display: flex;
    align-items: center;
}

.website-container {
    display: flex;
}

.website-container img {
    width: 40px;
    height: 40px;
}

.website-info {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.website-info a{
    text-decoration: none;
    color: white;
}

.website-info h2 {
    display: inline;
}

.card-title p{
    text-transform: uppercase;
}

.ban-details {
    padding: 1rem;
}

.ban-details p {
    margin: 1rem 0;
}

.ban-details span {
    font-style: normal;
    font-weight: 700;
    color: #7a7a8c;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: none;
    scrollbar-color: #8f54a0 #b0abab;
  }

  /* Chrome, Edge, and Safari */
  .card-container::-webkit-scrollbar {
    width: 7px;
    height: 5px;
  }

  .card-container::-webkit-scrollbar-track {
    background: #b0abab;
  }

  .card-container::-webkit-scrollbar-thumb {
    background-color: #8f54a0;
    border-radius: 0px;
    border: 3px none #ffffff;
  }

.card:hover {
    transform: translateY(-1rem);
}

.card:hover~.card {
    transform: translateX(130px);
}

.card:not(:first-child) {
    margin-left: -130px;
}

.status {
    position: relative;
    display: grid;
    grid-template-columns: 75px 1fr;
    align-items: center;
    margin: 7rem 0 0;
}

.status-banned {
    position: relative;
    display: grid;
    grid-template-columns: 75px 1fr;
    align-items: center;
    margin: 1rem 0 0;
}

.player-avatar img{
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    filter: grayscale(100%);
    margin: 16px 10px;
}
.half-circle {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60px;
    height: 48px;
    fill: none;
    stroke: hsl(136, 99%, 30%);
    stroke-width: 8;
    stroke-linecap: round;
}

.half-circle-banned {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60px;
    height: 48px;
    fill: none;
    stroke: hwb(0 2% 31%);
    stroke-width: 8;
    stroke-linecap: round;
}

.player-status-prefix {
    font-style: normal;
    font-weight: 700;
    color: #7a7a8c;
}

.card-title h2 {
    background: linear-gradient(90deg,#ff8a00,#e52e71);
    text-shadow: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    transition: all .1s ease-in-out;
}
.card-title h2:hover {
    cursor: pointer;
    transform: scale(1.04);
}
