.header-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.header-box {
    display: flex;
}
.header-content {
    min-width: 100vw;
    display: flex;
    padding: 6rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(var(--main-color), #000);
    color: var(--white-color);
}

.header-title {
    font-size: 4.2rem;
    text-transform: capitalize;
}
.header-text {
    font-size: 2rem;
    margin-bottom: 2.8rem;
    opacity: 0.8;
    max-width: 770px;
}