@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --dark-gray-color: rgb(14, 17, 22);
    --light-gray-color: rgb(34, 34, 37);
    --gray-border: #d6d3d1;
    --orange: rgb(234, 88, 12);
    --bg-color: #fdfdfd;
    --text-color: #333;
    --main-color: #754ef9;
    --darker-main-color: #5338ad;
    --white-color: #fdfdfd;
    --shadow-color: rgba(0, 0, 0, .2);
}
html {
    font-size: 62.5%;
    overflow-x: hidden;
}
body {
    background-color: var(--bg-color);
    color: var(--text-color);
}
* {
    scrollbar-width: none;
    scrollbar-color: #8f54a0 #b0abab;
  }
  /* Chrome, Edge, and Safari */
  body::-webkit-scrollbar {
    width: 7px;
    height: 5px;
  }

  body::-webkit-scrollbar-track {
    background: #0d0715;
  }

  body::-webkit-scrollbar-thumb {
    background-color: #8f54a0;
    border-radius: 0px;
    border: 3px none #ffffff;
  }

