.ornament-wrapper {
    position: relative;
    border: 1px solid rgb(177, 7, 171);
    width: 100%;
    margin-top: 0;
}
.ornament-top {
    top: 0;
    position: absolute;
    height: 40px;
    width: 100%;
    background-color: rgba(35, 19, 56, 1);
    box-shadow: 0 0 20px #000;
}
.ornament-shadow {
    position: absolute;
    top: 40px;
    width: 100%;
    height: 80px;
    overflow: hidden;
}
/* .ornament-shadow, */
.ornament-right {
    position: absolute;
    top: 0;
    right: -50px;
    height: 40px;
    width: 40%;
    background-color: rgba(35, 19, 56, 1);
    transform: skew(45deg);
    overflow: hidden;
    box-shadow: 0 0 20px #000;
}
/* .ornament-shadow, */
.ornament-left {
    position: absolute;
    top: 0;
    left: -50px;
    height: 40px;
    width: 40%;
    background-color: rgba(35, 19, 56, 1);
    transform: skew(-45deg);
    box-shadow: 0 0 20px #000;
}