.last-activity-container-blured {
    -webkit-filter: blur(4px);
}    
.last-activity {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background: linear-gradient(90deg,#421964,#130c35);
}
@media (max-width: 550px) {
    .last-activity {
        flex-direction: column;
    }
    .recently-games {
        display: flex;
        flex-direction: column;
        /* position: relative; */
    }
    .game-name-container {
        /* position: absolute; */
        /* top: 0; */
        display: flex;
        flex-direction: column !important;
        align-items: flex-start !important;
    }
    .game-name {
        margin-left: 0 !important;
    }
}
@media (max-width: 450px) {
    .last-activity {
        font-size: 1.2rem;
    }
    .game-name {
        font-size: 1.3rem !important;
    }
    .activity p {
        font-size: 1.1rem;
    }
}