.player-container {
    width: 100vw;
    display: flex;
    padding: 3rem;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #17141d;
    color: white;
}
@media (max-width: 1210px) {
    .player-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}